sudo: required
services:
  - docker


before_install:
  - docker build -t ljubetz/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true USERNAME/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "..."
  app: "docker"
  env: "Docker-env"
  bucket_name: "..."
  bucket_path: "docker"
  on:
    branch: master
